<footer class="mt-5">

    <div class="row container pt-5 m-auto">
      <div
        class="col-12 col-lg-6 col-md-6 d-flex flex-column justifu-content-center align-items-center container m-auto">
        <div style="font-size: 3rem; font-weight: 600; color: var(--background-color);">Utkarsh</div>
        <div class="contianer my-3">
          <i style="font-size:2rem; color:var(--background-color); margin:0.5rem 0.5rem" class="uil uil-github"></i>
          <i style="font-size:2rem; color:var(--background-color); margin:0.5rem 0.5rem" class="uil uil-linkedin"></i>
          <i style="font-size:2rem; color:var(--background-color); margin:0.5rem 0.5rem"
            class="uil uil-code-branch"></i>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6 d-flex p-5 flex-column align-items-center">

        <a href="#">home</a>
        <a href="#">About</a>
        <a href="#">Skill</a>
        <a href="#">Portfolio</a>
        <a href="#">Contact</a>
      </div>
    </div>
    <div class="divider"></div>
    <div class=" copyright mx-auto d-flex justify-content-center">
      Copyright <i class="uil mx-1 fs-3 uil-registered"></i> 2023
    </div>
  </footer>