<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="./img/favicon-16x16.png" type="image/x-icon">
  <meta name="description" content="Welcome to Utkarsh's Portfolio. Browse through my collection of projects and creative work showcasing my skills in web design and web development.">
  <meta property="og:url" content="">
  <meta name="keywords" content="Portfolio
  Creative
  Design
  Art
  Graphic Design
  Web Design
  Illustration
  Photography
  Visual Arts
  Freelancer
  Digital Art
  Branding
  UI/UX Design
  Animation
  Responsive Design
  Typography
  Logo Design
  Print Design
  Motion Graphics
  User Experience
  Case Studies
  Art Direction
  Visual Identity
  Interactive Design
  Digital Marketing">

  <title>Utkarsh - Portfolio</title>
  <!-- -----------------------------------JQuery-cdn--------------------------- -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
  <!-- ------------------------------aos----------------------------------- -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- ------------------------------Glightbox----------------------------------- -->
  <link rel="stylesheet" href="./glightbox.min.css">
  <!-- -------------------------------------iconsout------------------------------------- -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <!-- ----------------------------------------swiper-js----------------------------- -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <!-- ---------------------------------tostify--------------------------- -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link href="./style.css" rel="stylesheet" type="text/css" />
</head>

 <body>
  <% if(locals.EmailVerify === false || locals.EmailVerify === null) { %>
  <div class="verifyAlert">
    <span>Please Verify Your Email 
    </span>
    <form method="get" action="/verify">
      <button class="btn btn-primary" style="border: none; color:white;" >Verify</button>
    </form>
  </div>
  <% }%>
  <% if(locals.alert) { %>
    <div class="alerts"><i></i><%= locals.alert %></div>
    <% }%>
  <div class="theme-icon">
    <i class="uil uil-moon"></i>
  </div>
  <!-- --------------Navbar------------------- -->
 <!-- navigation bar  -->
 <header class="navbar">
  <div class="logo">
    <a class="d-flex" style="color: var(--primary-color);" href="#"><img style="margin-right:5px; width:35px" src="./img/favicon-32x32.png" alt="">tkarsh<span>.</span></a>
  </div>
  <nav>
    <ul>
      <li><a class="nav-links active" href="#home">Homes</a></li>
      <li><a class="nav-links" href="#about">About</a></li>
      <li><a class="nav-links" href="#skill">Skills</a></li>
      <li><a class="nav-links" href="#portfolio">Portfolio</a></li>
      <li><a class="nav-links" href="#contact">Contact</a></li>
    </ul>
    <% if(!locals.name) { %>
    <div class="register">
      <div class="login"><a href="/login">Login</a></div>
      <div class="signup"><a href="/signup">SignUp</a></div>
    </div>
  </nav>

  <% } else { %>
    <div class="register">
      <div class="login"><a href="/user"><%= locals.name %></a></div>
      <form method="post" action="/logout">
      <div><button class="signup" style="border: none; color:white;" >logout</button></div></form>
    </div>
  </nav>
    <% } %>

  <div class="togglebtn">
    <div class="bar bar-1"></div>
    <div class="bar bar-2"></div>
    <div class="bar bar-3"></div>
  </div>
</header>
<!-- header ends here -->
  <!-- -------------------Navbar-toggle-mobile-version-end--------------- -->


  <!-- ---------------------------Banner-section------------------------------- -->
  <section class="container">
    <div id="home" class="row">
      <div style="height:500px; margin: auto;" class="col-lg-8 col-md-12 d-flex flex-column justify-content-center">
        <h2>Hello , I m<span  style="color: var(--primary-color);" class="typed-text"></span><span class="cursor">&nbsp;</span></h2>

        <h1 class="hero-subtitle" style="color: var(--primary-color);">Full Stack Developer</h1>
        <p>Real life is graph of heart beat.</p>
        <a class="btn btn-sign mx-1" style="width: 6rem;" href="#">Hire Me</a>
        <div class="contianer my-3">
          <i style="font-size:2rem; color:var(--primary-color); margin:0.5rem 0.5rem" class="uil uil-github"></i>
          <i style="font-size:2rem; color:var(--primary-color); margin:0.5rem 0.5rem" class="uil uil-linkedin"></i>
          <i style="font-size:2rem; color:var(--primary-color); margin:0.5rem 0.5rem" class="uil uil-code-branch"></i>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 my-auto">
        <img src="../img/aigenht3.png" class="img-fluid" alt="...">
      </div>

    </div>
  </section>
  <!-- -----------------------------Banner-section-end----------------- -->
  <!-- ----------------------Works-cards------------------------ -->
  <section class="container d-flex flex-wrap justify-content-center">
    <div class="card" style="width: 18rem;">
      <i class="uil uil-cube"></i>
      <div class="card-body">
        <h5 class="card-title"
        data-purecounter-start="0"
        data-purecounter-end="05"
        >05</h5>
        <h6 class="card-subtitle mb-2 text-muted">Project</h6>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="uil uil-user-circle"></i>
      <div class="card-body">
        <h5 class="card-title" data-purecounter-start="0"
        data-purecounter-end="0">00</h5>
        <h6 class="card-subtitle mb-2 text-muted">Client</h6>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <i class="uil uil-server-network-alt"></i>
      <div class="card-body">
        <h5 class="card-title" 
        data-purecounter-start="0"
        data-purecounter-end="02"
        >02</h5>
        <h6 class="card-subtitle mb-2 text-muted">Experiance(Year)</h6>
      </div>
    </div>
    </div>
  </section>
  <!-- ----------------------Works-cards-end--------------------- -->
  <!-- ------------------------About-section-start--------------------- -->
  <section id="about" style="min-height: 100vh; padding:2rem;" data-aos="flip-left" class="contianer my-5">

    <h1 class="text-center style-heading my-5">About us</h1>
    <div class="row rounded mx-auto container about-card pt-3">
      <div class=" about-img col-lg-4 col-md-12 d-flex justify-content-center">
        <img src="../img/my2.png" class="img-fluid" height="400" width="200" alt="...">
      </div>
      <div
        class="col-lg-8 col-md-12 rounded content d-flex flex-column justify-content-center align-items-lg-start my-md-3 my-sm-3 my-lg-0 my-3">
        <h2>Web developer</h2>
        <h1>Utkarsh Jaiswal</h1>
        <p>I am  talented in web developer with a passion for creating exceptional online experiences. With expertise in front-end and back-end technologies, they specialize in building modern, user-friendly websites and web applications. </p>
        <a class="btn d-block btn-sign mx-1" style="width:auto;" href="#">Download CV</a>
        <div class="row mt-5">
          <div class="col-lg-6 my-details">
            <ul>
              <li><i class="uil uil-arrow-right"></i> <strong>Birthday:</strong> <span>27 Feb 2002</span></li>
              <li><i class="uil uil-arrow-right"></i><strong>Website:</strong> <span>www.example.com</span></li>
              <li><i class="uil uil-arrow-right"></i> <strong>Phone:</strong> <span>+91 7905310668</span></li>
              <li><i class="uil uil-arrow-right"></i> <strong>City:</strong> <span>UP, India</span></li>
            </ul>
          </div>
          <div class="col-lg-6 my-details">
            <ul>
              <li><i class="uil uil-arrow-right"></i><strong>Age:</strong> <span>21</span></li>
              <li><i class="uil uil-arrow-right"></i> <strong>Degree:</strong> <span>Bachlor</span></li>
              <li><i class="uil uil-arrow-right"></i> <strong>PhEmailone:</strong> <span>utkarshjais8957@gmail.com</span></li>
              <li><i class="uil uil-arrow-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ------------------About-section-end-------------------- -->
  <!-- -----------------------Skill-section------------------- -->
  <section id="skill" style="min-height: 100vh; padding:2rem;" class="container  mt-5" >
    <h1 class="text-center style-heading my-5">Skills</h1>
    <div class="row m-auto container">
      <!-- ---------------------progress-bar--------------------- -->
      <div class=" skill-container rounded col-lg-8 col-12 m-auto p-3" data-aos="zoom-out" data-aos-id="progressBar">
        <div class="progress-div">
          <h3 class="progressbar-h3">Html</h3>
          <div class="progress">
            <div class="progress-bar html" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
              <div class="bar-tool">95%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h3 class="progressbar-h3">Css</h3>
          <div class="progress">
            <div class="progress-bar css" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <div class="bar-tool">90%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h4 class="progressbar-h3">javascript</h4>
          <div class="progress ">
            <div class="progress-bar javascript" role="progressbar">
              <div class="bar-tool">80%</div>
            </div>
          </div>
        </div>
    
     
        
       
        <div class="progress-div">
          <h3 class="progressbar-h3">figma</h3>
          <div class="progress">
            <div class="progress-bar figma" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="bar-tool">80%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h3 class="progressbar-h3">Boostrap</h3>
          <div class="progress">
            <div class="progress-bar boostrap" role="progressbar" aria-valuenow="70" aria-valuemin="0"
              aria-valuemax="100">
              <div class="bar-tool">70%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h3 class="progressbar-h3">jquery</h3>
          <div class="progress">
            <div class="progress-bar jquery" role="progressbar" aria-valuenow="65" aria-valuemin="0"
              aria-valuemax="100">
              <div class="bar-tool">65%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h4 class="progressbar-h3">NodeJs</h4>
          <div class="progress ">
            <div class="progress-bar nodejs" role="progressbar">
              <div class="bar-tool">60%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h4 class="progressbar-h3">ExpressJs</h4>
          <div class="progress ">
            <div class="progress-bar expressjs" role="progressbar">
              <div class="bar-tool">58%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h4 class="progressbar-h3">MongoDB</h4>
          <div class="progress ">
            <div class="progress-bar mongodb" role="progressbar">
              <div class="bar-tool">55%</div>
            </div>
          </div>
        </div>
        <div class="progress-div">
          <h3 class="progressbar-h3">python</h3>
          <div class="progress">
            <div class="progress-bar python" role="progressbar" aria-valuenow="50" aria-valuemin="0"
              aria-valuemax="100">
              <div class="bar-tool">50%</div>
            </div>
          </div>
        </div>
      </div>
      <!-- -----------------------------Porgress-bar-end--------------------- -->
      <!-- --------------------------------Feature-cards-------------------------- -->
      <div class="col-lg-4 d-md-flex d-lg-block d-sm-flex " data-aos="zoom-out">
        <div class="card fe-card mx-auto mx-sm-auto" style="width:14rem; height:14rem;" data-aos="flip-right"
          data-bs-toggle="modal" href="#feature-card-1" role="button">
          <div class="card-body">
            <i class="uil uil-react"></i>
            <h4>MERN App</h4>
          </div>
        </div>
        <div class="card mx-auto fe-card mx-lg-auto" style="width:14rem; height:14rem;" data-aos="flip-right"
          data-bs-toggle="modal" href="#feature-card-2" role="button">
          <div class="card-body ">
            <i class="uil uil-file-lock-alt"></i>
            <h4>Secure</h4>
          </div>
        </div>
        <div class="card mx-auto fe-card mx-lg-auto" data-aos="flip-right" style="width:14rem; height:14rem;"
          data-bs-toggle="modal" href="#feature-card-3" role="button">
          <div class="card-body">
            <i class="uil uil-brackets-curly"></i>
            <h4>Clean Code</h4>
          </div>
        </div>
      </div>
      <!-- -----------------------------Feature-card-end---------------------- -->
    </div>
    </div>
  </section>
  <!-- ------------------------------------Skill-section-end------------------- -->

  <!-- ----------------------------------Feature-card-models--------------------------------- -->
  <div  class="modal fade" id="feature-card-1" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">MERN App</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
            data-bs-dismiss="modal">Open second modal</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="feature-card-2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
            data-bs-dismiss="modal">Open second modal</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="feature-card-3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Show a second modal and hide this one with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
            data-bs-dismiss="modal">Open second modal</button>
        </div>
      </div>
    </div>
  </div>
  <!-- --------------------------Feature-card-models-end------------------------------------ -->
  <!-- -----------------Pricing-card-start-------------------------- -->
  <section hidden id="price" class="container"  style="margin-top:5rem;">
    <h1 class="text-center d-lg-flex d-black  style-heading text-lg-start price-heading my-5">Our Price <span
        class=" my-auto mx-3 d-none d-lg-block  mt-5 side-divider"></span></h1>
    <div class="row " data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="swiper mySwiper col-12 col-lg-6">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <h4 style="transform: translate(-63px, 40px);">$</h4>
            <h4><span class="price-tag basic">5</span>/hr</h4>
            <a href="#contact" class="btn ">Buy Now</a>
          </div>
          <div class="swiper-slide">
            <h4 style="transform: translate(-63px, 40px);">$</h4>
            <h4><span class="price-tag standard">10</span>/hr</h4>
            <a href="#contact" class="btn">Buy Now</a>
          </div>
          <div class="swiper-slide">
            <h4 style="transform: translate(-63px, 40px);">$</h4>
            <h4><span class="price-tag premium">15</span>/hr</h4>
            <a href="#contact" class="btn">Buy Now</a>
          </div>
        </div>
      </div>
      <div
        class="col-lg-6 col-12 rounded content d-flex flex-column justify-content-center align-items-lg-start my-md-3 my-sm-3 my-lg-0 my-3">
        <div class="swiper-data">
          <div class=" card-0 active-card swiper-card">
            <h1>Our Basic Plan</h1>
            <ul class="plan-list">
              <li>Build a simple static (e.g., home, about, contact).</li>
              <li>Template-Based Design</li>
              <li>Basic Navigation and Layout</li>
              <li>Contact Form</li>
              <li>Limited Revisions</li>
              <li>Minimal Content Integration</li>

          </div>
          <div class=" card-1 swiper-card">
            <h1 class="text-center">Our Standard Plan</h1>
            <ul class="plan-list">
              <li>Access Basic Plan</li>
              <li>Enhance Design and Customization</li>
              <li>Additional Pages and Sections</li>
              <li>Advanced Form Functionality</li>
              <li>Content Integration</li>
              <li>SEO Optimization</li>
            </ul>

          </div>
          <div class=" card-2 swiper-card">
            <h1>Our Premium Plan</h1>
            <ul class="plan-list">
              <li>Work Fast no tension</li>
              <li>Work Fast no tension</li>
              <li>Work Fast no tension</li>
            </ul>

          </div>

        </div>
      </div>

    </div>
  </section>
  <!-- ------------------------Price-section-end------------- -->

  <!-- ------------------------Porfolio-section-------------------------------- -->
 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" style="min-height: 100vh; padding:2rem;" class="portfolio section-bg" >
  <div class="container" style="height: auto;">
    <h1 class="text-center d-lg-flex d-black  style-heading text-lg-start price-heading my-5">Portfolio <span
      class=" my-auto mx-3 d-none d-lg-block  mt-5 side-divider"></span></h1>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-beginner" >beginner</li>
          <li data-filter=".filter-intermidiate">Intermidiate</li>
          <li data-filter=".filter-advance">Advance</li>
          
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" >

      <div class="col-lg-4 col-md-6 portfolio-item filter-intermidiate">
        <div class="portfolio-wrap">
          <img src="./img/BackendAPI.jpeg" class="img-fluid" alt="Backend API">
          <div class="portfolio-links">
            <a href="./img/BackendAPI.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Backend API"><i class="uil uil-apps"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-intermidiate">
        <div class="portfolio-wrap">
          <img src="./img/BackendByNode.jpeg" class="img-fluid" alt="BackendByNode">
          <div class="portfolio-links">
            <a href="./img/BackendByNode.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="BackendByNode"><i class="uil uil-apps"></i></a>
    
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-intermidiate">
        <div class="portfolio-wrap">
          <img src="./img/Expense_calander.jpeg" class="img-fluid" alt="Expense_calander">
          <div class="portfolio-links">
            <a href="./img/Expense_calander.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Expense_calander"><i class="uil uil-apps"></i></a>

          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-advance">
        <div class="portfolio-wrap">
          <img src="./img/Web capture_8-7-2023_94721_myportfolio-cttl.onrender.com.jpeg" class="img-fluid" alt="this_portfolio">
          <div class="portfolio-links">
            <a href="./img/Web capture_8-7-2023_94721_myportfolio-cttl.onrender.com.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="My Portfolio"><i class="uil uil-apps"></i></a>
    
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-beginner">
        <div class="portfolio-wrap">
          <img src="./img/SurveyForm.png" class="img-fluid" alt="SurveyForm">
          <div class="portfolio-links">
            <a href="./img/SurveyForm.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="SurveyForm"><i class="uil uil-apps"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-beginner">
        <div class="portfolio-wrap">
          <img src="./img/AnalogWatch.jpeg" class="img-fluid" alt="Analog Watch">
          <div class="portfolio-links">
            <a href="./img/AnalogWatch.jpeg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Analog Clock"><i class="uil uil-apps"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
  <!-- -----------------------------Portfolio-section-end------------------------- -->

<!-- ======= Contact Section ======= -->
<section id="contact" style="min-height: 100vh; padding:2rem;" class="contact" data-aos="zoom-in">
  <div class="container">

    <h1 class="text-center style-heading my-5">Contact</h1>
    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="uil uil-map-marker-alt"></i>
            <h4>Location:</h4>
            <p>Naini Prayagraj UP 211008</p>
          </div>

          <div class="email">
            <i class="uil uil-at"></i>
            <h4>Email:</h4>
            <p>utkarshjais8957@gmail.com</p>
          </div>

          <div class="phone">
            <i class="uil uil-phone-volume"></i>
            <h4>Call:</h4>
            <p>+91 7905310668</p>
          </div>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1802.1065075618174!2d81.86126992405511!3d25.39767930047594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39854a30b6207115%3A0x6f63e3ba0029dcf3!2sNaini%2C%20Prayagraj%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1688042635999!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form action="/message" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject" required>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section>
<!-- End Contact Section -->
  <!-- -----------------------------End-contant---------------------- -->
 <%- include("./footer") -%>
</body>
<script src="script.js"></script>
<script src="./anime.min.js"></script>
<!-- -------------------------------Boostrap-js--------------------------------- -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- -------------------------------swiper-js-------------------------------- -->
<script src="glightbox.min.js"></script>
<script>
  const portfolioLightbox = GLightbox({
    selector: '.portfolio-lightbox'
  });

</script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'

  const fadeup = (e) => {
    $(".swiper-card").each(function () {

      $(`.swiper-card`).removeClass("fadeup active-card")
      $(`.card-${e}`).addClass("fadeup")

    })
  }
  var swiper = new Swiper(".mySwiper", {
    effect: "cards",
    grabCursor: true,
    initialSlide: 0,
    on: {
      slideChange: function () {
        var activeSlideIndex = this.activeIndex;
        if (activeSlideIndex == 0) {
          fadeup(0)
        }
        if (activeSlideIndex == 1) {
          fadeup(1)
        }
        if (activeSlideIndex == 2) {
          fadeup(2)
        }
      }
    }

  });

</script>
<script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs/dist/purecounter_vanilla.js"></script>
<script>
    new PureCounter({
      selector: ".card-title", 

    });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 200,
  });
  
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
</script>
</html>