<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Utkarsh - login</title>
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
   
    <%- include("./loginnav") %>
    <div class="theme-icon">
      <i class="uil uil-moon"></i>
    </div>
    <div class="container row form-container p-5 rounded">
      <div class=" user col-12 col-lg-6">
             <div class="container">
              <i class="uil uil-user-circle"></i>
             </div>
      </div>
      <div class="col-12 col-lg-6">
        <h1 class="text-center">Register</h1>
        <form method="post" action="/signup">
            <div class="mb-3 ">
              <label for="name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" required  id="name" >
            </div>
            <div class="mb-3 ">
            <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" value="<%= locals.email %>" required  id="email" >
            </div>
            <div class="mb-3">
              <label for="Password" class="form-label">Password</label>
              <input  type="password" name="password" class="form-control " required id="Password">
            </div>
            <%- include("./alert") %>
            <button id="signup" type="submit" class="btn btn-primary mx-auto d-block">Register</button>
          </form>
          <a id="login" href="/login" class="btn mt-3 w-100 btn-primary mx-auto">Login</a>
        </div>
    </div>
    <!-- -------------------------------Boostrap-js--------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script>
        // theme auto save 
if(localStorage.getItem("theme") == "dark"){
  $("body").addClass("dark-theme");
  $(".theme-icon i").addClass("uil-sun")
  $(".theme-icon i").removeClass("uil-moon")
}
else if(localStorage.getItem("theme") == "light") {
  $("body").removeClass("dark-theme");
  $(".theme-icon i").addClass("uil-moon")
  $(".theme-icon i").removeClass("uil-sun")
}

$(".theme-icon").on("click" , function(){
  $("body").toggleClass("dark-theme");
  if($("body").hasClass("dark-theme")){
    $(".theme-icon i").addClass("uil-sun")
    $(".theme-icon i").removeClass("uil-moon")
    localStorage.setItem("theme", "dark")
  }
  else{
    $(".theme-icon i").addClass("uil-moon")
    $(".theme-icon i").removeClass("uil-sun")
    localStorage.setItem("theme", "light")
  }
})
      </script>
  </body>
</html>