
$primary-color: #6853D5;
$background-color:white;
$font-color-light:black;
$secondry-color:hsla(250, 42%, 39%, 0.16);


body{
    height: 100%;
    width: 100%;
    background-color: $background-color!important;
    justify-content: center;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;


  
}
.dark-theme{
    background-color: #353543!important;
    color: white;
   label{
    color: white!important;
   }
   }

nav{
  width: 100%;
  padding: 1rem 2rem;

  a{
    text-decoration: none;
    color: $primary-color;
    display: flex;
    align-items: center;
    font-size: 1rem;
    i {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
.theme-icon{
  position: absolute;
  width: 3em;
  height: 2em;
  background-color: $primary-color;
  top: 6em;
  right: 0em;
  border-radius: 8px 0 0 8px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}
.theme-icon i {
  color: white;
  font-size: 1.5rem;
}
.user{
  height: 400px;
  background-color: #6853D5;
  border-radius: 8px;
  width: 300px;

  position: relative;

  i{
    font-size: 10rem;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    position: absolute;
  }
}
.form-container{
    max-width: 800px!important;
    background-color: transparent!important;
    height: auto;
    
     margin: auto;
h1{
        color: $primary-color;
        margin-top: 1rem;
    }
     form{

    
    label{
        color:$font-color-light;
      }
      input,textarea{
        background:hsla(250, 25%, 34%, 0.5)!important;
        color: $primary-color!important;
        padding-left: 1.5rem;
        border: none;
        border-radius: 8px;
      }
      input:focus{
        outline:  none!important;
        box-shadow: unset!important;
        border: 2px solid #8a7ccf !important;
      }
      input:active{
        box-shadow: unset!important;
      }

    button{
        background-color: $primary-color;
        outline: unset;
        border: none;
        border-radius: 8px;
        padding: 0.4rem 1.3rem;
    }
    button:hover{
        background-color: #8a7ccf!important;
    }

}}

#signup{
  background-color: $primary-color!important;
  margin-top: 2.5rem!important;
  border: none;
  padding: 0.5rem 0;

  &:hover{
    background-color:#8a7ccf!important;
  }
}
.alert{
  display: none;
  background-color: #e6a0a07c!important;
  color: white!important;
  border-radius: 2rem!important;
  padding: 0.5rem 1rem!important;
  margin-top: 1rem!important;
  text-align: center;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
}
.block{
 display: block!important;
}
