$primary-color: #6853D5;

$background-color: #353543 ;
$secondry-color:hsla(250, 25%, 34%, 0.16);
body{
    height: 100%;
    width: 100%;
    background-color: $background-color!important;
    justify-content: center;
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    max-width: 600px!important;
    left: 50%;
    transform: translate(-50% , 40%);
    background-color: $secondry-color!important;
    margin: auto;
h1{
        color: $primary-color;
    }
     form{

    
    label{
        color:white!important;
      }
      input,textarea{
        background:hsla(250, 25%, 34%, 0.53)!important;
       border-bottom:2px solid $primary-color!important;
        border-top:none!important;
        border-left:none!important;
        border-right:none!important;
        color: $primary-color!important;
      }
      input:focus{
        outline:  none!important;
        box-shadow: none!important;
        border-bottom: 2px solid #8a7ccf !important;
      }

    button{
        background-color: $primary-color;
        outline: unset;
        border: none;
    }
    button:hover{
        background-color: #8a7ccf!important;
    }

}}
