$primary-color: #6853D5;
$background-color: #353543 ;
$font-color-light:black;
$secondry-color:hsla(250, 42%, 39%, 0.16);
body{
    height: 100%;
    width: 100%;
    background-color: $background-color!important;
    justify-content: center;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
}
nav{
  width: 100%;
  padding: 1rem 2rem;
  a{
    text-decoration: none;
    color: $primary-color;
    display: flex;
    align-items: center;
    font-size: 1rem;
    i {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}
.user{
  height: 400px;
  background-color: #6853D5;
  border-radius: 8px;
  width: 300px;
  position: relative;

  i{
    font-size: 10rem;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50%);
    position: absolute;
  }
}
.form-container{
    max-width: 800px!important;
    background-color: $secondry-color!important;
    height: auto;
    
     margin: auto;
h1{
        color: $primary-color;
      margin-top: 1rem;
    }
     form{
     padding: 1rem;
    
    label{
        color:$font-color-light!important;
      }
      input,textarea{
        background:hsla(250, 25%, 34%, 0.53)!important;
       border-bottom:2px solid $primary-color!important;
        border-top:none!important;
        border-left:none!important;
        border-right:none!important;
        color: $primary-color!important;
        padding-left: 1.5rem;
        border-radius: 2rem;
      }
      input:focus{
        outline:  none!important;
        box-shadow: none!important;
        border-bottom: 2px solid #8a7ccf !important;
      }

    button{
        background-color: $primary-color;
        outline: unset;
        border: none;
        border-radius: 2rem;
    }
    button:hover{
        background-color: #8a7ccf!important;
    }

}}


#login{
  background-color: $primary-color;
  color: white;
  border: none;
  &:hover{
    background-color: #8a7ccf!important;
  }
}
